<form action="/answer">
  <label for="question">Ask your Coach anything!</label>
  <div class="form-group">
    <input type="text" class="form-control" name="question">
    <input type="submit" class="btn btn-primary" value="Ask!"></button>
  </div>

</form>
